body {
    width: 60%;
    margin: 0 auto;
    background-image: url("./img/569599b0-788e-423a-8bab-06785108b54c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainInfo {
    display: flex;
    justify-content: space-between;
}
.email:hover, .phone:hover, .telegram:hover {
    cursor: pointer;
    color: blue;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
html {
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }
  
