body {
    width: 70%;
    margin: 0 auto;
}
.mainInfo {
    display: flex;
    justify-content: space-between;
}
.email:hover, .phone:hover, .telegram:hover {
    cursor: pointer;
    color: blue;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}